<h1>Welcome,fella!</h1>

<% if current_user.present? %>
	<%=link_to "Add New Link",new_link_path%>

	<ul>
		<% @links.each do |l|%>
			<li><%= link_to l.title,l.url %> </li>
		<%end%>
	</ul>

<%end%>	